@import de.tuberlin.uebb.sl2.impl.MacroDriver._


<!DOCTYPE html>

<html>
    <head>
        <title>Koch snowflake inline SL example</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/sl_init.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/require.js")" type="text/javascript"></script>
    </head>

    <body onLoad="$main()">
    	<h1>Test runtime type checks.</h1>
    	<hr />
    	<canvas id="canvas" width="1000" height="500"></canvas>
    	<script type="text/javascript">@Html(slci(
"""
IMPORT "std/debuglog" AS Log
IMPORT "std/basicweb" AS Web
IMPORT "std/option" AS Opt

-- Tests for js expression type checks
-- TODO make a list of all known primitive checker functions and check 
-- them against possible values. Display the result in a Table
-- Build Option check an check this too. None Some(1) Some(Some(1))

PUBLIC FUN main : DOM Void
DEF main = Web.alert(intToString blub) & bla &= (\x.Web.alert( x))


FUN blub : Int
DEF EXTERN blub = {| document.getElementById("canvas").height |}

FUN bla : DOM String
DEF bla = {| document.getElementById("canvas").width |}:DOM String

FUN suelz : DOM (Opt.Option (Int))
DEF suelz = {| document.getElementById("canvas").width |}:DOM Opt.Option Int
"""))
        </script>
    </body>
</html>